<div class="container">

    <form class="form-horizontal">
        <div class="form-group">
            <label for="FirstName" class="col-sm-2 control-label">Fisrt Name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="inputEmail" placeholder="First Name">
            </div>
        </div>
    </form>

</div> <!-- /container -->
